*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.headerSection{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(209, 167, 105);
}

.title{
  padding: 10px;
}
.center ul li {
  list-style: none;
  display: inline-flex;
  margin: 0px  10px;
  justify-content: space-between;
  font-weight: bolder;
}

.left{
  flex: 2;
  
}
.center{
  flex: 4;
  padding-left: 30px;
  padding-top: 15px;
}
.search{
  flex: 2;
}

.search input {
  padding: 10px;
  width: 20rem;
  border-radius: 5px;
  margin-left: -150px;
}

.right{
  flex: 4;
  
  padding-left: 200px;
  padding-top: 10px;
}
.cart{
  flex: 2;
 
  padding: 10px;
  padding-left: 50px;
}

.bannerBox img{
  width: 100%;
  padding: 10px 0px;
}

.mensImages{
  display: flex;
  gap: 10px;
}

.mensImages img{
  height: 305px;
  width: 305px;
}

.footerSection img{
  width: 100%;
  padding: 10px,0px;
}